@model IEnumerable<DataBase.Models.PricingModel>

<section class="section section-bottom-0 section-top-0">
    <div class="container">
        <div class="section-head">
            <div class="row justify-content-center text-center">
                <div class="col-lg-9 col-xl-7 col-xxl-6">
                    <h6 class="overline-title text-primary">Pricing</h6>
                    <h2 class="title">Start your content writing with AI</h2>
                    <p class="lead px-lg-10 px-xxl-9">With our simple plans, supercharge your content writing to helps your business.</p>
                </div>
            </div>
        </div><!-- .section-head -->
        <div class="section-content">
            <div class="row g-gs justify-content-center">

                @for(var i = 0; i < 3; i++)
                {
                    var tier = @Model.ElementAt(i);
                    var pricingFeaturedBgPrimary = i == 1 ? "pricing-featured bg-primary" : "";
                    var pricingButton = i != 1 ? "btn-soft" : "";
                    
                                                        <div class="col-lg-4 col-md-6">
                        <div class="pricing @pricingFeaturedBgPrimary">
                            <div class="pricing-body p-5">
                                <div class="text-center">
                                    <h5 class="mb-3">@tier.Name</h5>
                                    <h3 class="h2 mb-4">$@tier.Price <span class="caption-text text-muted"> / month</span></h3>
                                    <button class="btn btn-primary @pricingButton btn-block" onclick="window.location.href = '/pricing/subscriptions'" type="submit">Start free trial today</button>
                                </div>
                                <ul class="list gy-3 pt-4 ps-2">
                                    <li><em class="icon ni ni-check text-success"></em> <span><strong>@tier.WordLimit</strong> Monthly Word Limit</span></li>
                                    <li><em class="icon ni ni-check text-success"></em> <span><strong>@tier.TemplatesLimit+</strong> Templates</span></li>
                                    <li><em class="icon ni ni-check text-success"></em> <span>@tier.Languages+ Languages</span></li>
                                    <li><em class="icon ni ni-check text-success"></em> <span>Advance Editor Tool</span></li>
                                    <li><em class="icon ni ni-check text-success"></em> <span>Regular Technical Support</span></li>
                                    <li><em class="icon ni ni-check text-success"></em> <span>Unlimited Logins</span></li>
                                    <li><em class="icon ni ni-check text-success"></em> <span>Newest Features</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div><!-- .section-content -->
    </div><!-- .container -->
</section><!-- .section -->